.popover-container {
    position: fixed;
    display: flex;
    height: 100%;
    top: 4rem;

    &__header {
        color: white;
        text-align: center;
    }

    &__wrapper {
        background-color: rgba(140,230, 20, .5);
        width: 25rem;
        margin-top: auto;
        margin-bottom: 10rem;
        border-radius: 4px;
    }

    &__footer {
        display: flex;
        justify-content: space-around;
    }
}